body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
        background-color: #ecf0f1;
}


h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    height: 80px;
    width: 100%;

    position: fixed;
    display: flex;
    align-items: center;

    background-color: black;
}


.header_nav {
    width: 80%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;

}

.header_nav img {
    height: 40px;
}

.header_nav a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    margin-left: 25px;
    margin-right: 25px;

    font-size: 13px;

    color: white;
    
}

.header_nav a:hover {
   transition: 0.4s;
   font-size: 15px;
}

#img_login {
    height: 22px;
    margin-left: 200px;
}

.title_lanes {
    background-color: #161616;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title_lanes h2 {
    padding-top: 160px;
}

.lanes {
    background-color: #161616;
    height: 200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img_lane {
    margin: 40px;
    height: 100px;
    padding-top: 40px;
}

.img_lane:hover {
    height: 120px;
    transition: 0.4s;
}

.champions {
    height: 600px;
    background-color: #161616;
}

.img_champ {
    height: 80px;
    margin: 20px;

    border: 2px solid black;
}

.div_champs {
    width: 70%;
    height: 400px;
    margin: auto;
    padding-top: 40px;

    text-align: center;
}

.div_champs h1 {
    color:white;
    font-size: 24px;
    font-style: italic;
}


.meu-grafico {
    width: 594px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
}

.sorteio_champ {
    height: 600px;
    width: 100%;
    background-color: #161616;
}

.title_sorteio {
    height: 100px;
    margin-bottom: 1px solid gray;
    text-align: center;
}

.title_sorteio h1 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-style: italic;
    color: white;
}

.camp {
    float: left;
    height: 498px;
    width: 33.5%;
    border-right: 1px solid gray;
    text-align: center;
}

.build {
    float: left;
    height: 498px;
    width: 33%;
    border-right: 1px solid gray;
    text-align: center;
}

.mapas {
    float: left;
    height: 498px;
    width: 33%;
    text-align: center;
}

.button_random {
    height: 45px;
    width: 130px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    background-color: transparent;
    
}

.button_random:hover {
    background-color: black;
    transition: 0.7s;
}

.img_random {
    margin-top: 60px;
    height: 300px;
    border-radius: 10px;    
}

#img_map {
    margin-left: 50px;
}

#img_map2 {
    margin-left: 50px;
}

.vetores {
    height: 600px;
    width: 100%;
    background-color: #161616;
    border-top: 1px solid transparent;

}

.classificacao {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    
    text-align: center;
}

.classificacao h1 {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.classificacao input {
    height: 40px;
    width: 165px;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    margin-top: 40px;
    margin-right: 5px;
    border-radius: 6px;
}

.classificacao button {
    height: 44px;
    width: 140px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;

}

#result_classificacao {
    height: 300px;
    width: 40%;
    margin: auto;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#mostra_champs {
    width: 32%;
}
